/* color names - 008080 */
div.one {
  background-color: teal;
}

/* hex */
div.two {
  color: #386ec0;
}

/* hex short */
div.three {
  color: #c0c;
}

/* rgb -- 718ad7 */
div.four {
  color: rgb(113,138,215);
}

/* rgb spaces -- 3a5dc4 */
div.five {
  color: rgb(58, 93, 196);
}

/* rgba -- 29469e */
div.six {
  color: rgba(41,70,158,0.5);
}

/* rgba spaces -- 3f6aeb */
div.seven {
  color: rgba(63, 106, 235, 0.5);
}
