/* backgrounds */
div.one {
  background-color: #3a5dc4;
}
div.two {
  background: #386ec0 url("/images/something.png");
}
div.three {
  background: #386ec0 url("/images/something.png");
}


/* text */
div.four {
  color: #718ad7;
}
h1.five {
  color: #386ec0;
}
h2.six {
  color: #386ec0;
}

/* borders */
div.seven {
  border-color: #718ad7;
}
div.eight {
  border: 1px solid #3a5dc4;
}
div.nine {
  border: 1px solid #3a5dc4;
}

@import url("imported_selectors.css");
